<mat-selection-list #authors>
    <mat-list-option *ngFor="let author of typesOfAuthors">
      {{author}}
    </mat-list-option>
  </mat-selection-list>
  
  <p>
    Options selected: {{authors.selectedOptions.selected.length}}
  </p>